body {
	background-color: #6FFF3D;
	text-align: center;
	color: #FF6D24;
	font-family: 'PT Serif', serif;

}

body h1, h2, p {
	text-shadow: 0 0 2px rgb(255, 109, 36);
}

#screen {
	margin: 5% auto;
	width: 90%;
	background-color: #30FF7B;
	color: #FF6D24;
	padding: 2%;
	border-radius: 10%;
	box-shadow: 0 0 40px rgb(55, 189, 103);
}

input {
	display: block;
	width: 75%;
	margin: 2% auto;
	font-size: 1.3em;
	border-radius: 10%;
	text-align: center;
	box-shadow: 0 0 10px rgb(55, 189, 103);
}
fieldset {
	border: none;
}

#resultScreen {
	display: none;
}

#imgPeso {
	max-width: 90%;
}

#devBy a {
	text-decoration: none;
	color: #5759FF;
}

#enviar {
	background-color: #fff;
	color: #B34114;
	border-radius: 10%;
	font-size: 25px;
	width: 50%;
}

#imgPeso {
	border-radius: 10%;
	box-shadow: 0 0 20px rgb(255, 255, 255);
}
@media (min-width: 700px) {
	#screen {
		width: 65%;
		margin: 2% auto;
	}

	p {
		font-size: 1.3em;
	}
}
@media (min-width: 900px) {
	#screen {
		width: 55%;
	}
}
@media (min-width: 1000px) {
	#screen {
		width: 500px;
	}
}